<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/theme.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
    <header>
        {% include 'partials/accessibility-bar.html.twig' %}
        <div class="header-panel">
            <div class="header-logo">
                <img height="70px" src="{{ url('theme://images/logo.png')|e }}" class="header-logo-img" alt="logo"/>
                <span class="header-logo-title">Foxay</span>
            </div>
            {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
            {% endblock %}
        </div>
    </header>
{% endblock %}

{% block body %}
    <main>
        <article class="margin">
        {% block content %}{% endblock %}
        </article>
    </main>
{% endblock %}

{% block footer %}
    <footer >
        <p>Barto Kopeć, Foxay, copyleft everytime</p>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
