
.langswitcher{
    position: inherit !important;
    top: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    margin-left: none !important;
}


.anchorjs-link{
    font-size: large !important;
}