
.header-panel, .header-logo, .header-nav {
    display: flex;
}

.header-panel{
    justify-content: space-around;
}

.header-logo-img{
    margin-right: 16px;
}

.header-nav{
    list-style: none;
    padding: 0px;
    text-align: center;
}

.header-nav a{
    font-size: 1.6rem;
}

.header-nav li{
    margin-right: 10px;
    margin-left: 10px;
}

.header-logo-title{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
}

.accessibility-bar{
    padding: 10px;
    font-size: large;
}

@media screen and (max-width: 700px){
    .header-panel, .header-nav{
        flex-direction: column;
    }
    .header-panel, .header-logo, .header-nav{
        justify-content: center;
    }
}