
main, main article{
    max-width: var(--size-content-max-width);
    margin: auto;
    min-height: var(--size-content-min-height);
}

main article{
    border-top: 1px solid var(--color-light);
    border-bottom: 1px solid var(--color-light);
}