/* Importing parts of theme */
@import url(./vars.css);
@import url(./fixes.css);
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

@font-face {
    font-family: AtkinsonHyperlegible;
    src: url(../fonts/Atkinson-Hyperlegible-Regular-102a.woff2);
}
@font-face {
    font-family: OpenDyslexic;
    src: url(../fonts/OpenDyslexic-Regular.woff2);
}

/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: AtkinsonHyperlegible !important;
}

body {
    font-size: 1.3rem;
    line-height: 1.7;
    color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-second);
}

a {
    color: var(--color-second-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline !important;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.margin {
    margin: 2rem 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.font-sans{
    font-family: sans-serif !important;
}
.font-serif{
    font-family: serif !important;
}
.font-mono{
    font-family: monospace !important;
}
.font-atkinson{
    font-family: AtkinsonHyperlegible !important;
}
.font-dyslexic{
    font-family: OpenDyslexic !important;
}