:root{
    --size-screen-small: 700px;
    --size-content-max-width: 1000px;
    --size-content-min-height: 60vh;

    --color-primary: #281e5d;
    --color-second: #790179;
    --color-second-light: #a200a2;
    --color-light: #acabaf;
}